body {
    background-color: black;
}

img {
    width: 100%;
}
.description{
    border: 2px solid black;
    padding: 10px;
}
.card{
    background-color:burlywood;
    margin:auto;
    border: 1px solid yellow;
    width: 370px;
    padding: 10px;
    box-shadow: 5px 5px 5px yellow;
}
span {
    font-weight: bold;
}

.headline {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding:0;

}
